/*회원가입*/
/* 전체 기본 설정 */
body {
    font-family: "Noto Sans KR", sans-serif;
    background: #f5f6f7;
}

.signup-wrapper {
    width: 100%;
    max-width: 420px;
    margin: 50px auto;
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/*로고*/
.signup-logo {
    text-align: center;
    margin-bottom: 30px;
}

.signup-logo img {
    height: 40px;
}

/*입력*/
.form-group {
    margin-bottom: 18px;
}

/*input*/
.form-group input {
    width: 420px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    box-sizing: border-box;
}

/*select*/
.form-group select {
    width: 398px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 15px;
    box-sizing: border-box;
}

/*성별 select*/
.gender-select {
    width: 420px !important;
}

/*label*/
.label-title {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
    color: #555;
}

/*개인정보 동의*/
.agree-box {
    margin: 25px 0;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fafafa;
    font-size: 14px;
}

/*확인 버튼*/
.signup-btn {
    width: 100%;
    height: 50px;
    background: #00af31;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

/*hover*/
.signup-btn:hover {
    background: #009b2d;
}

/*disabled된 버튼 스타일*/
.signup-btn:disabled {
    background: #b5b5b5;
    cursor: not-allowed;
}
